In [2]:
sentence = input("Enter sentence: ")

# Split the sentence into words
words = sentence.split()

# Convert list to set to get unique words
unique_words = set(words)

# Print results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: PYTHON IS GOOD LANGUAGE
Unique words count: 4
Unique words: {'LANGUAGE', 'GOOD', 'PYTHON', 'IS'}

In [1]:
# Employee salary data
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find employee with highest salary
highest_employee = max(employees, key=employees.get)

# Print result
print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Ravi - 75000

In [3]:
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with first element
max_val = numbers[0]
min_val = numbers[0]

# Loop through the list
for num in numbers:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num

# Print results
print("List:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
prices = [450, 1200, 899, 1500, 300]

count = 0

# Loop through prices
for price in prices:
    if price > 1000:
        count += 1

# Print result
print("Products above 1000:", count)

Products above 1000: 2

In [5]:
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set to remove duplicates
unique_numbers = set(phone_numbers)

# Print result
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [7]:
text = "pythonp"

char_count = {}

# Count frequency of each character
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

# Print result
print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
numbers = [10, 20, 30]

# Convert list to tuple
numbers_tuple = tuple(numbers)

# Print result
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

In [9]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

key = "Ravi"

# Check if key exists
if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [10]:
marks = [70, 75, 80, 65]

# Calculate average
average = sum(marks) / len(marks)

# Print result
print("Average Marks:", average)

Average Marks: 72.5